.calendar_days {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 54px repeat(7, 1fr);
  border-top: 1px solid #e6e7e9;
  border-bottom: 1px solid #e6e7e9;
  z-index: 1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.calendar_day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e6e7e9;
  gap: 4px;
  height: 40px;
}

.calendar_day:last-child {
  border: none;
}

.calendar_days_left {
  width: 54px;
  border-right: 1px solid #e6e7e9;
}

.current_day {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border-radius: 999px;
  background-color: #888;
  color: #fff;
  font-weight: 600;
}
