.nav_button {
  font-weight: 500;
  font-size: 16px;
  color: #111827;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_button:hover {
  background-color: #f3f4f6;
}

.nav_button:focus-visible {
  outline: 2px solid #000;
}
